<section class="list-parameters">
    <div class="col s12 m4">
      {{#md-collection content=model header='Thông số' as |item|}}
        {{link-to item.title "parameters.show" item class='collection-item'}}
      {{/md-collection}}
      <ul class="pagination">
        {{#each-in model.meta.pagination as |key value|}}
            <li class="waves-effect">{{link-to key "parameters" (query-params page=value.number)}}</li>
        {{/each-in}}
      </ul>
    </div>
    <div class="col s12 m8">
        <div class="list-group">
          {{outlet}}
        </div>
    </div>
</section>