<section class="list-parameters">
  <div class="col-md-4">
    <ul>
      {{#each model as |parameter|}}
          <li>
            {{#link-to "parameters.show" parameter}}{{parameter.title}}{{/link-to}}
          </li>
      {{/each}}
    </ul>

    {{#each-in model.meta.pagination as |key value|}}
      {{link-to key "parameters" (query-params page=value.number)}}
    {{/each-in}}
  </div>
  <div class="col-md-8">
      <div class="list-group">
        {{outlet}}
      </div>
  </div>
</section>